
<h1>Books with Reviews</h1>

<% if current_user %>
  <%= link_to "Add Book with review", new_book_path %>
<% end %>

<%= form_with(url: books_path, method: :get, local: false, data: { turbo_action: 'replace' }) do %>
  <%= label_tag :search, 'Search by Title or Author' %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter title or author", class: 'search-input' %>
  <%= submit_tag 'Search', class: 'search-button' %>
<% end %>


<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publication Date</th>
    <th>ISBN</th>
    <th>Average Rating</th>
    <th>Reviews</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.publication_year %> </td>
      <td><%= book.isbn %></td>
      <td>
        <% if book.reviews.any? %>
          <%= book.reviews.average(:rating).round(2) %> <!-- Adjust as necessary for rounding -->
        <% else %>
          No ratings yet
        <% end %>
      </td>
      <td>
        <%= link_to 'Details', book_path(book) %>
      </td>
    </tr>
  <% end %>
  </tbody>


</table>

<%= paginate @books %>
