<!-- app/views/books/show.html.erb -->
<h1>Book Details: <%= @book.title %></h1>

<!-- Display book details -->
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Publication Year:</strong> <%= @book.publication_year %></p>
<p><strong>ISBN:</strong> <%= @book.isbn %></p>

<!-- Display the average rating of the book -->
<p>
  <strong>Average Rating:</strong>
  <% if @book.reviews.any? %>
    <%= @book.reviews.average(:rating).round(2) %>
  <% else %>
    No ratings yet
  <% end %>
</p>


<% if current_user &&  @book.reviews.where(user_id: current_user.id).empty? %>
<div id="new_review_form">
  <%= form_with(model: [ @book, @review ], local: true) do |form| %>

    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
    <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, min: 1, max: 5 %>
    </div>
    <%= form.submit "Submit Review", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>


<h2>Reviews:</h2>
<div id="reviews">
  <%= render @book.reviews %>
</div>
