<%= form_with(model: [ @book, @review ], data: { turbo_frame: "reviews" }) do |form| %>
  <div class="form-container">
    <div class="field">
      <%= form.label :content, "Review Content" %>
      <%= form.text_area :content, class: "form-input", rows: 4, placeholder: "Write your review here..." %>
    </div>

    <div class="field">
      <%= form.label :rating, "Rating" %>
      <%= form.number_field :rating, min: 1, max: 5, class: "form-input" %>
    </div>

    <%= form.submit "Submit Review", class: "btn btn-primary" %>
  </div>
<% end %>
